<h1> Sign in</h1>

<form action="/insert_user_email">
  <div>
    <label for="browser_email">Email</label>
     <input id="browser_email" type="text" name="input_email" placeholder="Enter your email...">
  </div>
  <div>
  <label for="browser_password">Password</label>
  <input id="browser_password" type="password" name="input_password" placeholder="Enter your password...">
  </div>
  <div>
  <button>Sign in</button>
  </div>
</form>

<hr>
<div>
Or, <a href="/user_sign_up">Sign up</a> instead.
</div>
