<h1>
  List of photos
</h1>

<table border="1">
  <tr>
    <th>
    Image
    </th>
    <th>
    Caption
    </th>
    <th>
    Owner
    </th>
    <th>
    Posted
    </th>
    <th>
    Likes
    </th>
    <th>
    </th>
  </tr>

<tr>
  <td>
  photo
  </td>
  <td>
  Once you’ve accepted your flaws, no one can use them against you.
  </td>
  <td>
  catherina
  </td>
  <td>
  about 4 years ago
  </td>
  <td>
  5
  </td>
  <td>
  Show details
  </td>
</tr>
